<!--
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!--@subject {{trans "Reset password"}} - Sito web Coronelli @-->
<!--@vars {
"var customer.name":"Customer Name",
"var this.getUrl($store, 'customer/account/createPassword/', [_query:[id:$customer.id, token:$customer.rp_token]])":"Reset Password URL"
} @-->
{{template config_path="design/email/header_template"}}

<p class="greeting">{{trans "Dear"}} {{trans "%name," name=$customer.name}}</p>
<p>{{trans "We received a request to change your password."}}</p>
<p>{{trans "If it was you requesting the reset, please click on the following button:"}}</p>

<table class="button" width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td>
            <table class="inner-wrapper" border="0" cellspacing="0" cellpadding="0" align="center">
                <tr>
                    <td align="center">
                        <a style="background-color: #542d00;
    color: #ffffff;
    display: inline-block;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 8px;
    text-decoration: none;
    text-transform: uppercase;" href="{{var this.getUrl($store,'customer/account/createPassword/',[_query:[id:$customer.id,token:$customer.rp_token],_nosid:1])}}" target="_blank">{{trans "Reset Password"}}</a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>

<p>{{trans "If you did not make this request, you can ignore this email and your password will stay the same."}}</p>

{{template config_path="design/email/footer_template"}}
