/**
 * custom theme 2017-07-21 14:53:39 */

#newsletter_pop_up{
width: 870px;height: 485px;background-image: url(http://coronelli.dev12.studiopleiadi.it/media/rokanthemes/newsletter/background/default/bkg_newletter_popup.jpg);background-repeat: no-repeat;
background-position: 95% center;
background-position: left top;}
