<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>

    <add id="Hoop_Contacts::contacts_list" resource="Hoop_Contacts::contacts" title="Contatti" action="hoop_contacts_contacts/index/index" module="Hoop_Contacts" sortOrder="50" parent="Magento_Customer::customer" dependsOnModule="Magento_Customer"/>

    </menu>
</config>
